:root{
    --vermelho:#E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    margin-left: 55px;
    color: var(--vermelho);
    font-size: 30px;
    font-family: 'Arial Black' Times;
    
}

header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 15px;
}

header nav a:hover {
color: #ffffff;
}


/* Caracteristicas do filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/Fundo.jpg);

    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    margin-top: 50px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: rgb(31, 26, 26);
    padding: 15px 30px;
    margin-right: 15px ;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 15px;

}


.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrocel.filmes{
    margin-top: 5px;

}